.container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  background-color: #574841;
  padding: 15px;
  border-radius: 15px;
}
.container .navbar nav {
  display: flex;
  justify-content: space-evenly;
}
.container .navbar nav a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.container .navbar nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container .navbar .buttons {
  display: flex;
  justify-content: space-evenly;
}
.container .navbar .buttons button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}
.container .navbar .buttons button:hover {
  cursor: pointer;
}
